/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */

#block-menu-menu-accordion {
    /*background: #333333;*/
}
#block-menu-menu-accordion ul.menu li {
    min-width:150px;
}
#block-menu-menu-accordion li ul li {
    width: 150px;
}
#block-menu-menu-accordion li {
    float: left;
    position: relative;
}
#block-menu-menu-accordion li ul {
    left: 0px;
    position: absolute !important;
    z-index: 999;
}

#block-menu-menu-accordion ul.menu li a {
    line-height: 1.2em;
	font-size: 1.2em;
	text-align: center;
	/*font-weight: normal;*/
 
}
#block-menu-menu-accordion ul.menu li ul li a {
    line-height: 1.1em;
	font-size: 1.1em;
	text-align: center;
	/*font-weight: normal;*/
 
}
/* Styles for the Contact (webform) */
/* ### alpha default ### */
.submitted {display:none;}
#contact_us * {
	/*margin:0;
	padding: 0;*/
}
#contact_us .webform {
}
#contact_us p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #fff;
}
#contact_us .float_clr {
	clear: both;
}
#contact_us .webform label {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFF;
	position: absolute;
}
#contact_us .webform-component-textarea label {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFF;
	position: relative;
}
#contact_us .webform .form-item {
	padding: 7px 0;
}
#contact_us .webform input, #contact_us .webform select {
	margin-left: 230px;
}
#contact_us .webform .form-submit {
	position: relative;
}
#contact_us .webform #edit-submit {
	margin-left:0;
}
/* ### alpha default end ### */
/* Styles for the Contact (webform) END */
